select{
    font-size: 1.5em; 
    width: 300px;
    margin-bottom: 15px; 
    margin-top:10px;
}

h2{
  text-align: center;
  font-size: 20px;
}

legend{
    font-size: 1.3em;
    font-weight: 900;
}

html {
  height: 100%;
}

body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  margin: auto;
  padding: 0;
  height: 100%;
}

fieldset{
    text-overflow: clip;
    margin-bottom: 30px;
    border-radius: 10px;
    border-color: transparent;
    background-color: #e7e7e7;
    padding: 20px;
    margin: auto;
    margin-top:20px;
    width: 400px;
    text-align: center;
}

.formElement{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1em;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
}

.radio {
    cursor: pointer;
    font-size: 17px;
}

.content{
  margin-bottom: 30px;
}

.errorSpan {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    color: white;
    display: inline;
    font-style: bold;
    font-size: 10px;
    padding: 7px 12px;
    border-radius: 7px;
    background: rgba(85.1%, 32.5%, 31%, 0.8);
    margin: 10px 3px;
}

#wrapper {
    min-height: 100%;
    min-width: 450px;
    height: auto !important;
    height: 100%;
    margin: 0 auto -55px; /* bottom margin is negative value of footer's height */
}

.logo {
  display: block;
  margin: auto;
  padding-top: 150px;
  padding-bottom: 0px;
}

.field {
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  padding-left: 3px;
  padding-top: 10px;
  padding-bottom: 6px;
  width: 100%;
  margin: 10px 0px;
  margin-bottom: 0px;
}

.errorContainer {
  display:inline;
}

.checkboxField {
  display: inline-block;
  font-size: 15px;
}

.jammerHeader{
  margin:auto;
  text-align: center;
  padding-bottom: 90px;
  color: white;
  font-size: 35px;
}

.jammerTitle{
  display:inline-block;
  vertical-align:middle;
  color: white;
  font-size: 25px;
}

.buttonLogin,
.buttonLogin-small,
.buttonRegister,
.buttonRegister-small,
.buttonSubmit-small {
  background-color: rgba(3.9%, 23.5%, 48.2%, 0.99);
  display: inline-block;
  margin-left: 10px;
  border: none;
  color: #e7e7e7;
  padding: 15px 32px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
}

.buttonRegister {
  background-color: #e7e7e7;
  color: #555555;
}

.buttonRegister-small {
  background-color: #8f8f8f;
  color: white;
}

.buttonRegister-small:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttonSubmit-small {
  background-color: #4CAF50;
  color: white;
}

.buttonLogin-small:hover,
.buttonSubmit-small:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttonLogin-small,
.buttonSubmit-small  {
  margin-left: 0px;
  margin-top: 10px;
  padding: 7px 20px;
  font-size: 15px;
}

.buttonSubmit-small {
  margin-left: 10px;  
}

.buttonRegister-small{
  margin-left: 0px;
  padding: 7px 20px;
  font-size: 15px;
}

.buttonLogin:hover,
.buttonRegister:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.footer1, .push {
    height: 55px; 
}

.footer2 {
  height:87px;
}

.footer1, .footer2 {
  padding: 1rem;
  min-width: 450px;
  background-color:rgba(33.3%, 33.3%, 33.3%, 0.3);
  text-align: center;
}

.banner {
  overflow:hidden;
  background-color:#2994DA;
  text-align: center;
}